# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db

# Ignorar archivos de caché y logs
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing

# Ignorar archivos de configuración de sistema/editor
*.sublime-workspace
*.sublime-project
*.swp
*.bak
*.tmp

# Ignorar archivos de despliegue
.env.backup
.env.production
.env.development
.env.local
